<a href="https://colab.research.google.com/github/SyedMuhammadAmmar97/test/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Programming languages
- Tools used for Data Science
- Cloud coding

Some of the popular languages that Data Scientists use are:
1)Python
2)Watson Studio
3)R

Some of the commonly used libraries used by Data Scientists include:
1)Tensorflow 2)Pandas 3)Matplotlib 4)Numpy

| Data Science Tools |
| ------ |
|Python |
|R |
|SQL |

###Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
x= 200/60
print(x, "hours")

3.3333333333333335 hours

##Author
Syed Muhammad Ammar